SmartPOS/.vs/SmartPOS/CopilotIndices/17.12.53.23981/CodeChunks.db
SmartPOS/.vs/SmartPOS/CopilotIndices/17.12.53.23981/CodeChunks.db-shm
SmartPOS/.vs/SmartPOS/CopilotIndices/17.12.53.23981/CodeChunks.db-wal
SmartPOS/.vs/SmartPOS/CopilotIndices/17.12.53.23981/SemanticSymbols.db-shm
SmartPOS/.vs/SmartPOS/CopilotIndices/17.12.53.23981/SemanticSymbols.db-wal
/SmartPOS
/SmartPOS/.vs
/SmartPOS/.vs
/SmartPOS
*.db-wal
